CONFIG_BUILD_ARM64_DT_OVERLAY=y
CONFIG_BLK_DEV_LOOP_MIN_COUNT=8
CONFIG_INITRAMFS_IGNORE_SKIP_FLAG=y
# CONFIG_DM_BOW is not set
CONFIG_HALL_SENSOR=y
# CONFIG_HID_NINTENDO is not set
# CONFIG_HID_SONY is not set
# CONFIG_INPUT_HBTP_INPUT is not set
# CONFIG_IOMMU_DEBUG is not set
# CONFIG_MEMBARRIER is not set
# CONFIG_NETFILTER_XT_MATCH_OWNER is not set
# CONFIG_NET_CLS_BPF is not set
# CONFIG_NET_IPGRE_DEMUX is not set
# CONFIG_NET_SCH_INGRESS is not set
CONFIG_NFC_DEVICES=y
# CONFIG_NFC_NQ is not set
CONFIG_NF_CONNTRACK_PROCFS=y
# CONFIG_OVERLAY_FS is not set
CONFIG_PM_AUTOSLEEP=y
CONFIG_PROJECT_c330ae_tinno=y
# CONFIG_QCOM_DLOAD_MODE is not set
# CONFIG_TOUCHSCREEN_FT5X06 is not set
CONFIG_TOUCHSCREEN_FTS=y
# CONFIG_USB_RTL8152 is not set
CONFIG_USB_SWITCH_AS6313=y
# CONFIG_UTS_NS is not set
# CONFIG_XFRM_INTERFACE is not set
CONFIG_NFC_CXD224X=y
CONFIG_NFC_CXD224X_RST=y
# CONFIG_NFC_CXD224X_VEN is not set
CONFIG_TOUCHSCREEN_FTS_DIRECTORY="focaltech_touch"
CONFIG_HARDEN_BRANCH_PREDICTOR=y
CONFIG_DEV_INFO=y
CONFIG_SND_SOC_DBMDX=y
CONFIG_SND_SOC_DBMDX_SND_CAPTURE=y
CONFIG_PRONTO_WLAN=y
CONFIG_PRIMA_WLAN_LFR=y
CONFIG_PRIMA_WLAN_OKC=y
CONFIG_PRIMA_WLAN_11AC_HIGH_TP=y
CONFIG_WLAN_FEATURE_11W=y
CONFIG_QCOM_VOWIFI_11R=y
CONFIG_ENABLE_LINUX_REG=y
CONFIG_WLAN_OFFLOAD_PACKETS=y
CONFIG_QCOM_TDLS=y
CONFIG_WLAN_FEATURE_11W=y
CONFIG_QCOM_VOWIFI_11R=y
CONFIG_ENABLE_LINUX_REG=y
CONFIG_WLAN_OFFLOAD_PACKETS=y
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y
CONFIG_MODULE_FORCE_LOAD=y
# CONFIG_MODVERSIONS is not set
# CONFIG_MODULE_SIG is not set
# CONFIG_MODULE_SIG_FORCE is not set
# CONFIG_MODULE_SIG_ALL is not set
