CONFIG_BLK_DEV_LOOP_MIN_COUNT=8
# CONFIG_DM_BOW is not set
CONFIG_HALL_SENSOR=y
# CONFIG_HID_NINTENDO is not set
# CONFIG_HID_SONY is not set
# CONFIG_INPUT_HBTP_INPUT is not set
# CONFIG_IOMMU_DEBUG is not set
# CONFIG_MEMBARRIER is not set
# CONFIG_NETFILTER_XT_MATCH_OWNER is not set
# CONFIG_NET_CLS_BPF is not set
# CONFIG_NET_IPGRE_DEMUX is not set
# CONFIG_NET_SCH_INGRESS is not set
CONFIG_NFC_DEVICES=y
# CONFIG_NFC_NQ is not set
CONFIG_NF_CONNTRACK_PROCFS=y
# CONFIG_OVERLAY_FS is not set
CONFIG_PM_AUTOSLEEP=y
CONFIG_PROJECT_c330ae_tinno=y
# CONFIG_QCOM_DLOAD_MODE is not set
# CONFIG_TOUCHSCREEN_FT5X06 is not set
CONFIG_TOUCHSCREEN_FTS=y
# CONFIG_USB_RTL8152 is not set
CONFIG_USB_SWITCH_AS6313=y
# CONFIG_UTS_NS is not set
# CONFIG_XFRM_INTERFACE is not set
CONFIG_NFC_CXD224X=y
CONFIG_NFC_CXD224X_RST=y
# CONFIG_NFC_CXD224X_VEN is not set
CONFIG_TOUCHSCREEN_FTS_DIRECTORY="focaltech_touch"
CONFIG_HARDEN_BRANCH_PREDICTOR=y
