# Audio
CONFIG_SND_SOC_DBMDX=y
CONFIG_SND_SOC_DBMDX_SND_CAPTURE=y
CONFIG_SND_SOC_FS16XX=y

# Dev info
CONFIG_DEV_INFO=y

# DTB/O
CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE_NAMES="tinno/c330ae"
CONFIG_BUILD_ARM64_DT_OVERLAY=y
CONFIG_PROJECT_c330ae_tinno=y

# Membarrier
CONFIG_MEMBARRIER=y

# Net
CONFIG_NF_CONNTRACK_PROCFS=y

# NFC
CONFIG_NFC_CXD224X=y
CONFIG_NFC_CXD224X_RST=y
CONFIG_NFC_DEVICES=y

# No system-as-root
CONFIG_INITRAMFS_IGNORE_SKIP_FLAG=y

# Power
CONFIG_PM_AUTOSLEEP=y

# Pstore
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y

# Security
CONFIG_HARDEN_BRANCH_PREDICTOR=y

# Sensors
CONFIG_HALL_SENSOR=y

# Touchscreen
CONFIG_TOUCHSCREEN_FTS=y
CONFIG_TOUCHSCREEN_FTS_DIRECTORY="focaltech_touch"

# USB
CONFIG_USB_SWITCH_AS6313=y

# WLAN
CONFIG_ENABLE_LINUX_REG=y
CONFIG_PRIMA_WLAN_11AC_HIGH_TP=y
CONFIG_PRIMA_WLAN_LFR=y
CONFIG_PRIMA_WLAN_OKC=y
CONFIG_PRONTO_WLAN=y
CONFIG_QCOM_TDLS=y
CONFIG_QCOM_VOWIFI_11R=y
CONFIG_WLAN_FEATURE_11W=y
CONFIG_WLAN_OFFLOAD_PACKETS=y
